<div id="min-menu" class="min-on">
    <ul id="min-header-menu">
        <li id="min-selected-menu">Search</li>
        <li>Diary</li>
        <li>Todo</li>
        <li>Notebook</li>
    </ul>

</div>
<div id="header">
    <div id="beta_logo">
        <!-- <img src="{{ url_for('static', filename='img/Beta_Logo_300x300_trim.png')}}" alt="Beta" /> -->
        <img src="{{ url_for('static', filename='img/Beta_Logo_300x300_text_trim.png')}}" alt="Beta" />
    </div>
    <div id="menu">
        <img src="{{ url_for('static', filename='/img/menu-horizontal.svg') }}" alt="Menu" class="min-on"
            id="min-menu-btn" />
        <ul class="min-off" id="header-menu">
            <li id="selected-menu">Search</li>
            <li>Diary</li>
            <li>Todo</li>
            <li>Notebook</li>
        </ul>
    </div>
</div>
